body {
    font-family: sans-serif;
}    
 
.titulo {
    text-align: center;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 30px;

    border-bottom: 50px;
}

.campos input{
    display: flex;
    border-radius: 20px;
   margin-bottom: 20px;
   width: 25%;
padding: 10px 20px;
background-color: lightgrey;
outline: 0;
margin: 10px auto 20px auto;
border:none;


}
.botao {
    display: flex;
    justify-content: space-around;
    outline: none;
}
.botao button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-size: 12pt;
    width: 25%;
    right: 15px;
    border-radius: 20px;

}